.back-passw {
    margin: auto;
    padding: 50px;
    background-color: #111120;
    width: 615px;
    height: 549px;
    border-radius: 20px;
    margin-top: 60px;
    h2 {
        text-align: center;
        margin-top: 60px;
        color: white;
        font-size: 36px;
        font-weight: 500;
    }
}

input {
    height: 35px;
    border-radius: 7px;
}

.air {
    color: white;
    width: 331px;
    text-align: center;
    margin-left: 92px;
    p {
        width: 331px;
    }
}

.passw {
    /* border: 1px solid red; */
    width: 515px;
    height: 449px;
}

.added {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contin {
    width: 515px;
    height: 30px;
    margin-top: 30px;
    color: white;
    border-radius: 5px;
}

.contin:hover {
    background-color: darkblue;
}