.back2 {
    width: 625px;
    height: 613px;
    border-radius: 20px;
    background-color: #111120;
    color: white;
    margin: auto;
    padding: 84px 86px;
    margin-top: 60px;
}
.cont {
    /* border: 1px solid red; */
    width: 453px;
    height: 445px;
}

.text-code {
    display: flex;
    justify-content: center;
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 35px;
    }
}

.prgf21 {
    text-align: center;
    margin-bottom: 60px;
}

.text-input {
    display: flex;
    justify-content: center;
    gap: 25px;
    input {
        width: 95px;
        height: 100px;
        border-radius: 10px;
        background-color: white;
        color: black !important;
        font-size: 24px;
        text-align: center;
    }
}

.SMS {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    p {
        color: #00B7FF;
        cursor: pointer;
    }
    p:hover {
        color: darkblue;
    }
}

.btn-off-on {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    button {
        background-color: #306AD9;
        width: 200px;
        height: 60px;
        border-radius: 10px;
    }
    button:hover {
        background-color: darkblue;
    }
}